* {
	font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
}
/* overwrite bootstrap */
.navbar{
	border-radius:0px;
}
a { cursor: pointer; }
a:hover { text-decoration: none; }

/* custom modal */
.modal-content-error{
	box-shadow: 0 0px 5px rgba(244, 20, 20, 0.5) !important;
}
.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.mt-no-border-radius{border-radius:0px;}
.mt-no-margin-bottom{margin-bottom:0px;}
.mt-display-none{display:none !important;}
.mt-button{border-radius:0px;min-width:90px;}
.mt-hidden-complete{visibility: hidden;height:0px;}
.mt-no-padding-left{padding-left:0px;}
.mt-clear-both{clear:both;}
.mt-float-left{float:left;}
.mt-float-right{float:right;}

.mt-pre {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	border: none;
	background: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.error-custom{
	margin-top:3px;
	margin-bottom:3px;
	background:#f2dede;
	color:#a94442;
	border-color:#ebccd1;
	line-height: 30px;
}
.error-custom label,
.info-custom label{margin-bottom:0px;margin-left:10px;}

.info-custom{
	margin-top:3px;
	margin-bottom:3px;
	background:#dff0d8;
	color:#3c763d;
	border-color:#d6e9c6;
	line-height: 30px;
}

.page-title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	color:#555;
}

/*style for ajax loader*/
.ajax-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	background: rgba(200,200,200,0.4);
	z-index: 999;
	display: flex;
	flex-flow: row wrap;
}
.ajax-loader .ajax-wrap-image {
	width: 100px;
	height: 100px;
	align-content: center;
	align-items:center;
	margin: auto;
	position: relative;
	display: flex;
	flex-flow: row wrap;
}
.ajax-loader img {
	width: 100%;
	height: 100%;
}
.ajax-counter-time{
	position: absolute;
  	width: 50px;
  	text-align: center;
  	left: 26px;
  	top: 40px;
}
