.manage-file-index{
	margin-left:0px;
	margin-right:0px;
	-webkit-user-select:none;
}
.title-upload-template{
	color:#555;
	margin-bottom:25px;
}
.wrap-input-and-button-choose-file{
	margin-bottom:7px;
}

.btn-upload{
	color:white;
}

.link{
	border: none !important;
	background: white !important;
	padding: 0px !important;
	margin: 0px !important;
}
.link:hover{
	background-color: #e8e8e8;
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
}