/* overwrite bootstrap */
.navbar{
	border-radius:0px;
}
/* custom modal */
.modal-content-error{
	box-shadow: 0 0px 5px rgba(244, 20, 20, 0.5) !important;
}

.mt-no-border-radius{border-radius:0px;}
.mt-no-margin-bottom{margin-bottom:0px;}
.mt-display-none{display:none !important;}
.mt-button{border-radius:0px;min-width:90px;}
.mt-hidden-complete{visibility: hidden;height:0px;}
.mt-no-padding-left{padding-left:0px;}
.mt-clear-both{clear:both;}
.error-custom{
	margin-top:3px;
	margin-bottom:3px;
	background:#f2dede;
	color:#a94442;
	border-color:#ebccd1;
	line-height: 30px;
}
.error-custom label,
.info-custom label{margin-bottom:0px;margin-left:10px;}

.info-custom{
	margin-top:3px;
	margin-bottom:3px;
	background:#dff0d8;
	color:#3c763d;
	border-color:#d6e9c6;
	line-height: 30px;
}

