#template-description img,
#template-log img {
	max-width: 100%;
}
.template-detail {
	max-width: 1000px;
	margin: auto;
}

.template-detail-edit-link {
	float: right;
	margin-top: 4px;
}

.template-tab > li > a {
	border-radius: 0px ;
}

/*style for comment*/

.wrap-text-comment-parent {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}
.wrap-text-comment-parent #ta-comment {
	border-radius: 0px;
	resize: vertical;
	margin-bottom: 10px;
}

