.wrapper-content-template{
	max-width:1000px;
	margin:auto;
	cursor: default;
}
.row-content-template{
	margin-top:40px;
}
.content-template{
	background: #e3e3e3;
	margin-top:20px;
	margin-bottom:20px;
	border-radius:4px;
}
.wrap-title-img{
	max-width:420px;
	margin:auto;
	padding-bottom:20px;
}
.title-template{
	overflow-x:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#3c763d;
	padding-top:10px;
	text-align:left;
}
.cost-item{
	font-weight:bold;
	color:#a94442;
	margin-right:15px;
	font-size:1.3em;
}

.detail-item{
	margin-top:5px;
}

.buy-item .icon{
	font-size:1.07em;
}
.buy-item .buy-item-text{
	font-size:1.3em;
}

.wrap-livedemo-buy{
	text-align:center;
}
.wrap-imag-viewdetail{
	position: relative;
}
.overlay-view-detail-button{
	height: 100%;
	width: 100%;
	position: absolute;
	display:flex;
	align-items:center;
	top: 0px;
}
.overlay-view-detail-button:hover .view-detail-button{
	visibility: visible;
}
.view-detail-button{
	margin:auto;
	width: 150px;
	height: 50px;
	background: rgba(20,20,20,0.5);
	color: white !important;
	border:1px solid #ccc;
	outline: none;
	border-radius: 4px;
	visibility: hidden;
	text-align: center;
	line-height: 45px;
	text-decoration: none !important;
}

